body{
	background-color: #98b8d1;
}
#about{
	background-color: #B4DDE1;
	box-shadow: 10px 10px 5px #43647c;

}

div {
	border-radius: 5px;
}

#portfolio0{
	background-color: #B4DDE1;
	margin-top: 5px;
	box-shadow: 10px 10px 5px #43647c;

}
#portfolio1{
	background-color: #B4DDE1;
	box-shadow: 10px 10px 5px #43647c;

}
#sideNote{
	text-align: right;

}
.proj{
	width: 200px;
	height: 200px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}
.projDes{
	text-align: center;
}
.footer{
  width: 100%;
}

.navbar-default {
	border-radius: 3px;
  background-color: #5ea5e0;
  border-color: #b4dde1;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1f61ba;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1f61ba;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1f61ba;
  background-color: #b4dde1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #1f61ba;
  background-color: #b4dde1;
}
.navbar-default .navbar-toggle {
  border-color: #b4dde1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #b4dde1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #1f61ba;
}
