.title{
  margin: 5% 0 0 0;
  background-color: #FFFFFF;
  font-family: 'Black Ops One', cursive;
  font-size: 45px;
}
.weather{
  background-color: #FFFFFF;
  font-family: 'Black Ops One', cursive;
  font-size: 30px;
  padding: 5%;
}
body{
  background-color: #f2f2f2;
}
