.title{
  margin: 5% 0 0 0;
  background-color: #b3dcfc;
  font-family: 'Black Ops One', cursive;
  font-size: 45px;
}
.weather{
  background-color: #b3dcfc;
  font-family: 'Black Ops One', cursive;
  font-size: 30px;

}
body{
  background-color: #b3dcfc;
}
