.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color:transparent !important;
    font-size: 1.75rem;
    margin: 1rem;
}

.navLink {
    color: var(--light-accent);
    margin-right: 1.25rem;
}

.navLink:hover {
    color: var(--light-shade);
}

.footerLink {
    color: rgba(164, 154, 120, 0.3);
}

.footerLink:hover {
    color: rgba(222, 217, 193, 0.3);
}

.footer {
    margin-top:auto;
    color: rgba(164, 154, 120, 0.3);
    padding-left: 15%;
}
/*.transparent > div:first-child > div:nth-child(2) {*/
    /*background-color:transparent !important;*/
    /*color: blue !important;*/
/*}*/

/*.transparent > div:first-child > div:nth-child(2):hover {*/
    /*background-color:transparent !important;*/
    /*color: yellow !important;*/
/*}*/

/*.navbar-brand a:focus, a:hover{*/
    /*color: whitesmoke;*/
/*}*/

/*.active {*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

/*.inactive {*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

/*.dropdown-item {*/
    /*color: green !important;*/
    /*font-size: 20em !important;*/
/*}*/

/*.navbar-brand:global(.active) {*/
    /*background-color: #777777;*/
    /*color: whitesmoke;*/
/*}*/



