body {
    background: url('../assets/img/alvord_desert.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    flex-direction:column;
}

.main {
    /*background: var(--light-shade);*/
    /*overflow-x: hidden;*/
    display:flex;
    flex-direction:column;
}

.hi {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 6rem 0 6rem;
    font-weight: bold;
    color: var(--light-shade);
}

.mainContainer {
    background: var(--light-shade);
    /*padding: 1rem;*/
    padding: 5rem 2rem;
    margin: 4rem 4rem 4rem 6cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text {
    color: var(--light-shade);
}

.description {
    color: var(--light-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.25rem;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 2rem 10rem 5rem;
    padding: 2rem;
}