.radioProcess {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.windowDivLayer {
    z-index: 1;
}

.textProcess {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.eduText {
    margin-right: 3rem;
}

.eduTextLong {
    margin: 0 3rem;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 1rem 0;
    font-family: 'VT323', monospace !important;
}

.nameInline {
    font-size: 1.25rem;
    font-weight: 900;
}

.listText {
    margin: 0.5rem 0;
}

.itemText {
    margin: 0.5rem 0;
}